.Ico{
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
    @media (min-width: 1280px) {
        gap: 1.5rem;
    }
    .pop{
        position: absolute;
        padding: 1rem;
        border-radius: 0.375rem;
        top: 3rem;
        left: 0;
        font-size: small;
        z-index: 20;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        .logout{
            margin-top: 0.5rem;
            cursor: pointer;
        }
    }
    .profile{
        cursor: pointer;
    }
    .notification{
        cursor: pointer;
    }
    .cart{
        cursor: pointer;
        position: relative;
        .superscript{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -1rem;
            right: -1rem;
            width: 1.5rem;
            height: 1.5rem;
            background-color: red;
            border-radius: 9999px;
            font-size: 0.875rem;
            line-height: 1.25rem; 
            color: white; 
        }
    }
}